@model WebApp.ViewModels.RecipeComponentsCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecipeComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeComponent.ProductRecipeId" class="control-label"></label>
                <select asp-for="RecipeComponent.ProductRecipeId" class="form-control" asp-items="Model.ProductRecipeSelectList"></select>
                <span asp-validation-for="RecipeComponent.ProductRecipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeComponent.ComponentProductId" class="control-label"></label>
                <select asp-for="RecipeComponent.ComponentProductId" class="form-control" asp-items="Model.ComponentProductSelectList"></select>
                <span asp-validation-for="RecipeComponent.ComponentProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeComponent.Amount" class="control-label"></label>
                <input asp-for="RecipeComponent.Amount" class="form-control" />
                <span asp-validation-for="RecipeComponent.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
